[Desktop Entry]
Name=ISO Mount Tool
Name[ar]=أداة ضم ملفات ISO
Comment=Tool for mounting and managing ISO files
Comment[ar]=أداة لضم وإدارة ملفات ISO
Exec=AppRun
Icon=imt-icon
Terminal=false
Type=Application
Categories=Utility;

